/*############# DEFAULTS ##############*/

html {
  font-family: 'Rubik', sans-serif;
}

body {
  line-height: 1;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.5) 20%, rgba(7,0,255,0.5) 50%, rgba(255,0,5,0.5) 95%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

nav, header, footer {
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: auto;
  width: 100%
}

.title {
  font-size: 50px;
  margin: 10px;
}

.row {
  display: flex;
  width: 100%;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

.nav-col {width: 66.66%; float: right; padding: 10px;}
.col-flag {width: 150px}
.col-title {width: 400px}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {box-sizing: border-box;}

[class*="col-"] {
  padding: 10px;
  float: left;
}

/*############# NAV BAR ##############*/

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  overflow: hidden;
  padding: 0;
  transform: rotate(180deg);
}

nav ul > li {
  transform: rotate(-180deg);
}

ul.topnav {
  float: right;
}

ul.topnav li {
  list-style: none;
  float: right;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
  color: #000000;
}

ul.topnav li a:hover {
  background-color: #dcdfe3
}

ul.topnav li.dropdownIcon {
  display: none;
}

@media screen and (max-width: 1000px) {
    ul.topnav li:not(:nth-child(1)) {
      display: none;
    }

    ul.topnav li.dropdownIcon {
      display: block;
    }

    .col-2 {width: 375px}
    .col-4 {width: 400px}

    ul.topnav.responsive li.dropdownIcon {
      position: absolute;
      top: 0;
      right: 0;
    }

    ul.topnav.responsive {
      position: relative;
      transform: none;
    }

    ul.topnav.responsive li {
      display: inline;
      float: none;
    }

    ul.topnav.responsive li a {
      display: block;
      text-align: left;
    }
}

@media screen and (max-width: 690px) {
  ul.topnav li:not(:nth-child(2)) {
    display: none;
  }

  ul.topnav li.dropdownIcon {
    display: block;
  }

  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.topnav.responsive {
    position: relative;
    direction: ltr;
  }

  ul.topnav.responsive li {
    display: inline;
    float: none;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*############# Form ##############*/

input[class="emailBox"] {
  font-size: 14px;
  width: 200px;
  padding: 5px;
}

input[class="messageBox"] {
  font-size: 14px;
  width: 400px;
  padding: 5px;
}
